<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thejoa703.mapper.AppUserMapper">

    <resultMap id="AppUserResultMap" type="com.thejoa703.entity.AppUser">
        <id     property="id"         column="APP_USER_ID"/>
        <result property="email"      column="EMAIL"/>
        <result property="password"   column="PASSWORD"/>
        <result property="role"       column="ROLE"/>
        <result property="provider"   column="PROVIDER"/>
        <result property="providerId" column="PROVIDER_ID"/>
        <result property="ufile"      column="UFILE"/>
        <result property="nickname"   column="NICKNAME"/>
        <result property="mobile"     column="MOBILE"/>
        <result property="deleted"    column="DELETED"/>
        <result property="createdAt"  column="CREATED_AT"/>
        <result property="updatedAt"  column="UPDATED_AT"/>
    </resultMap>

    <select id="findByNicknameKeyword" parameterType="string" resultMap="AppUserResultMap">
        SELECT * FROM APP_USER WHERE NICKNAME LIKE '%' || #{keyword} || '%'
    </select>
</mapper>
