<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thejoa703.mapper.CartItemMapper">

    <!-- cart/book 연관관계는 조회전용 매퍼에서는 매핑하지 않습니다. -->
    <resultMap id="CartItemResultMap" type="CartItem">
        <id     property="id"       column="ID"/>
        <result property="quantity" column="QUANTITY"/>
    </resultMap>

    <select id="findByCartId" parameterType="long" resultMap="CartItemResultMap">
        SELECT * FROM CART_ITEM WHERE CART_ID = #{cartId} ORDER BY ID ASC
    </select>

</mapper>
