<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thejoa703.mapper.CartMapper">

    <resultMap id="CartResultMap" type="Cart">
        <id     property="id"        column="ID"/>
        <result property="createdAt" column="CREATED_AT"/>
    </resultMap>

    <select id="findByUserId" parameterType="long" resultMap="CartResultMap">
        SELECT * FROM CART WHERE APP_USER_ID = #{userId}
    </select>

    <select id="existsByUserId" parameterType="long" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM CART WHERE APP_USER_ID = #{userId}
    </select>

    <insert id="insert" parameterType="Cart">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT CART_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CART (ID, APP_USER_ID, CREATED_AT)
        VALUES (#{id}, #{user.id}, SYSTIMESTAMP)
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM CART WHERE ID = #{id}
    </delete>

</mapper>
